{% extends 'main/layout.html' %}

{% block title %}Weather{% endblock %}

{% block content%}
    <div class="col-5 offset-2" id="right">
        <h1 style="margin-left: 30%;">Информация</h1>
        <div class="prokrutka">
            {% for el in info.values %}
                <a href="{% url 'inf_city' el.city %}" style="text-decoration: none;"><div class="alert alert-warning">
                    <img src="http://openweathermap.org/img/w/{{ el.icon }}.png">
                    <b>Город:</b> {{el.city}}<br>
                    <b>Температура</b> {{el.temp}} <b>, ощущается как</b> {{ el.feels_like }}<br>
                    <b>Скорость ветра:</b> {{ el.wind_speed }} м/c<br>
                    <b>Давление:</b> {{ el.pressure }} атм<br>
                    {% if el.rain == 'Rain' %}
                        <b>Капает дождь!🥲</b>
                    {% endif %}
                </div><a/>
            {% endfor %}
        </div>
    </div>
{% endblock %}