{% extends 'main/layout.html' %}

{% block title %}Weather{% endblock %}

{% block content%}
    <div class="col-5 offset-2" id="right">
        <h1 style="margin-left: 30%;">Информация</h1>
        <div class="prokrutka">
            {% for el in info.values %}
                <a href="{% url 'inf_city' el.city1 %}" style="text-decoration: none;"><div class="alert alert-warning">
                    <img src="http://openweathermap.org/img/w/{{ el.icon }}.png">
                    <br><b>Город: <b style="font-weight: normal; font-size: 19px;">{{ el.city2 }}</b></b><br><br>
                    <b>Температура <b style="font-weight: normal; font-size: 19px;">{{el.temp}}&deg;C</b>, ощущается как <b style="font-weight: normal; font-size: 19px;">{{ el.feels_like }}&deg;C</b></b><br><br>
                    <b>Скорость ветра: <b style="font-weight: normal; font-size: 19px;">{{ el.wind_speed }} м/c</b></b><br><br>
                    <b>Давление: <b style="font-weight: normal; font-size: 19px;">{{ el.pressure }} гПа</b></b><br><br>
                    {% if el.rain == 'Rain' %}
                        <b>Капает дождь!🥲</b>
                    {% endif %}
                </div><a/>
            {% endfor %}
        </div>
    </div>
{% endblock %}