{% load static %}

#map {
    margin-top: 17vh;
    margin-left: 5vw;
    float: left;
    position: absolute;
}

#right {
    float: right;
    margin-right: 5%;
    margin-top: 4%;
}

.offset-2 .alert-warning img {
    height: 160px;
    position: absolute;
    margin-left: 51vh;
    margin-top: 5vw;
}

.offset-2 .alert-warning {
    background: #fff;
    height: 43vh;
}

header form span {
    color: red;
}

.prokrutka {
    overflow: auto;
    height: 350px;
}

#predict a {
    text-decoration: none;
    position: absolute;
    float: right;
    color: #ffcd39;
    background: black;
    margin-left: 32vw;
    margin-top: 36vh;
}

#predict a:hover {
	background: #ffcd39;
	color: #fff;
}

#city_info_div b {
    font-size: 20px;
}